extends: default

rules:
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    ignore: |
      openshift/cronjob/*
  comments-indentation: disable
  document-start: disable
  line-length: disable
  indentation:
    indent-sequences: whatever
    # ignore: |
    #   k8s/*
    #   openshift/*
