[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
gunicorn = "*"
pandas = "*"
sqlalchemy = "*"
psycopg2 = "*"
dash = "*"
dash-labs = "*"
dash-bootstrap-components = "*"
dash-bootstrap-templates = "*"
plotly = "*"
plotly-express = "*"
gevent = "*"
redis = "*"
rq = "*"
types-redis = "*"
pre-commit = "*"

[dev-packages]
yamllint = "*"
pyspelling = "*"

[requires]
python_version = "3.10"
