# top-level required modules w/o pinned dependencies
# DON'T ADD NEW DEPENDENCIES TO REQUIREMENTS.TXT MANUALLY
# ADD THEM TO REQUIREMENTS-BASE.TXT, THEN RUN
# pip3 freeze -r requirement-base.txt > requirements.txt
SQLAlchemy==2.0.25
celery==5.3.6
dash==2.15.0
dash-bootstrap-components==1.5.0
dash-mantine-components==0.12.1
dash-bootstrap-templates==1.1.2
Flask-Login==0.6.3
Flask==3.0.2
redis==5.0.1
uuid==1.30
plotly==5.18.0
psycopg2-binary==2.9.9
pandas==2.2.0
numpy==1.26.4
python-dateutil==2.8.2
fuzzywuzzy==0.18.0
python-Levenshtein==0.24.0
DateTime==5.4
gunicorn==21.2.0
pyarrow==15.0.0