

.siteContainer {
    background-color: #242424;
}

/* 
 *  Sidebar Styling
 */

a.nav-link > img {
    width: 24px;
    height:24px;
    margin-right: 12px
}


a.nav-link > .sidebarLink {
    color: #9c9c9c;
    font-size: 16px;
    font-weight: 400;
}