

.siteContainer {
    background-color: #242424;
}

div#main-layout-container {
    display: flex;
    height: calc(100vh - 60px - 56px - 4px);
}

/* 
 *  Sidebar Styling
 */

a.nav-link > img {
    width: 24px;
    height:24px;
    margin-right: 12px
}


a.nav-link > .sidebarLink {
    color: #9c9c9c;
    font-size: 16px;
    font-weight: 400;
}


div#sidebar-collapse {
    width: 340px;
    background-color: #1D1D1D;
    border-radius: 12px 0 0 12px;
    border-right: 1.5px solid #292929;
    padding: 1rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px - 56px - 4px);
    overflow: hidden;
}